*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    /* width: 1366px; */
    /* height: 100vh; */
}
body{
    width: 1366px;
    height: 3020px;
    border: solid 2px;
    margin: auto;
}
.contenedor{
    width: 1366px;
    height: 3120px;

}

.navegador{

    height: 30px;
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.lista{
    display: flex;
    list-style-type: none;
    font-family: Helvetica;
}
.lista li{
    margin-left: 10px;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./img/tiitle.png);
    width: 1366px;
    height: 250px;
}
.hero p{
    width: 400px;
    text-align: center;

}
h3{
    font-family: Helvetica;
    font-weight: 700;
    font-size: 36px;
    color: #1F3F68;
    margin-bottom: 20px;
}

/* texto */

.uno{
    margin-top: 30px;
    width: 941px;
    height: 850px;
    /* height:1044px; */
    margin: 10px auto;
}
.text1{

    display: flex;
    justify-content: center;
    align-items: center;



}
.subtexto p{
    width: 380px;
    height: 201px;
}
hr{
    width: 90%;
    margin-left: 5%;
    
}

/* texto */

.tres{
    margin-top: 50px;
}

.img{
    display: flex;
    gap: 20px;
}
.img-1{
    display: flex;
    flex-direction: column;

}
h4{
    font-family: Helvetica;
    font-weight: 700;
    font-size: 22px;
    color: #1F3F68;
    margin-top: 20px;
    margin-bottom: 20px;

}

/* articulo */
.art-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-1 p{
    width: 590px;
    height: 80px;
    margin-left: 10px;
}
h5{
    margin-left: 10px;
}

/* Pie */

.pie{
    margin-top: 70px;
    background-color: #316099;
    width: 1366px;
    height: 50x;
    padding-bottom: 70px;
}

.info{
    
    height: 260px;
    display: flex;
}
.sub-info h6{
    width: 304px;
    height: 92px;
    font-size: 36px;
    color: #ffff;
}
.sub-info p{
    width: 460px;
    height: 80px;
    font-size: 16px;
    color: #ffff;
}
.info input{
    background-color:#5A98D0;
    width: 220px;
    height: 56px;
    color: #ffff    ;
}
.info{
    padding-top: 60px;
    display: flex;
    justify-content: space-around;
}
.pie-1{
    display: flex;
    flex-direction: column;
}

.contacto{
    display: flex;
    justify-content: left;
    column-gap: 10%;
    margin-left: 50px;
    
}

.sub{
    display: flex;
    justify-content: space-around;
}
.about{
    padding-right: 50px;
}

.afr{
    display: flex;
}
.afr img{
    padding: 0;
}
.A{
    display: flex;
}
.T{
    display: flex;
}
.E{
    display: flex;
}
.espacio{
    margin-right: 10px;
}